In [5]:
import pandas as pd

annotator1_data = pd.read_csv('23120007_labels - my_results.csv')
annotator2_data = pd.read_csv('amaan _20110011.csv')
annotator3_data = pd.read_csv('annotat_20110200.csv')

In [9]:
annotator1_data

                                              Comments  Label
0    Elon Musk set us all up to see him as a heroic...     -1
1    AL politician admits to beating children on Na...     -1
2    NID chara Hobe na vaccine nawa jabe na? :/ Tha...      0
3                         I know right? HOW COULD THEY     -1
4         Among us homies india is the most hated one.     -1
..                                                 ...    ...
97                                            ðŸ’¯ agreed      1
98   Oh- even better!!!! Than countries like Indone...      1
99           Great work! Hope your cousin keeps it up.      1
100  much needed in this time... \n\nPray for Bangl...      1
101                               He was right indeed.      1

[102 rows x 2 columns]

In [10]:
from krippendorff  import alpha


data = [annotator1_data['Label'], annotator2_data['label'], annotator3_data['Sentiment']]


alpha_value = alpha(data, level_of_measurement='interval')
print("Krippendorff's alpha:", alpha_value)

Krippendorff's alpha: 0.5017860668832683